<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>
    <h1>Movies List</h1>

    <!-- Displaying all movies -->
    <table>
        {% for movie in movies %}
            <tr>
                <td>{{ movie.id }}</td>
                <td>{{ movie.name }}</td>
                <td>{{ movie.year }}</td>
                <td>{{ movie.oscars }}</td>
            </tr>
        {% endfor %}
    </table>
    <!-- Link to add a new movie -->
    <a href="{{ url_for('add_movie') }}">Add a New Movie</a>
</body>
</html>
